<a href="https://colab.research.google.com/github/TanviPawar09/Power-BI-Dashboard/blob/main/CrimesOnWomen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv("CrimesOnWomenData.csv")
df

,Unnamed: 0,State,Year,Rape,K&A,DD,AoW,AoM,DV,WT
0,0,ANDHRA PRADESH,2001,871,765,420,3544,2271,5791,7
1,1,ARUNACHAL PRADESH,2001,33,55,0,78,3,11,0
2,2,ASSAM,2001,817,1070,59,850,4,1248,0
3,3,BIHAR,2001,888,518,859,562,21,1558,83
4,4,CHHATTISGARH,2001,959,171,70,1763,161,840,0
...,...,...,...,...,...,...,...,...,...,...
731,731,D&N Haveli,2021,1250,4083,141,2068,417,4731,4
732,732,Daman & Diu,2021,315,904,16,1851,10,501,1
733,733,Delhi UT,2021,2,1,0,5,1,9,0
734,734,Lakshadweep,2021,0,0,0,1,1,3,0
735,735,Puducherry,2021,2,0,2,31,3,12,0

In [ ]:
df.isnull().sum()

Unnamed: 0    0
State         0
Year          0
Rape          0
K&A           0
DD            0
AoW           0
AoM           0
DV            0
WT            0
dtype: int64

In [ ]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
731    False
732    False
733    False
734    False
735    False
Length: 736, dtype: bool

In [ ]:
df.info

<bound method DataFrame.info of      Unnamed: 0              State  Year  Rape   K&A   DD   AoW   AoM    DV  \
0             0     ANDHRA PRADESH  2001   871   765  420  3544  2271  5791
1             1  ARUNACHAL PRADESH  2001    33    55    0    78     3    11
2             2              ASSAM  2001   817  1070   59   850     4  1248
3             3              BIHAR  2001   888   518  859   562    21  1558
4             4       CHHATTISGARH  2001   959   171   70  1763   161   840
..          ...                ...   ...   ...   ...  ...   ...   ...   ...
731         731         D&N Haveli  2021  1250  4083  141  2068   417  4731
732         732        Daman & Diu  2021   315   904   16  1851    10   501
733         733           Delhi UT  2021     2     1    0     5     1     9
734         734        Lakshadweep  2021     0     0    0     1     1     3
735         735         Puducherry  2021     2     0    2    31     3    12

     WT
0     7
1     0
2     0
3    83
4     0
..   ..
731   4
732   1
733   0
734   0
735   0

[736 rows x 10 columns]>